.app-container {
    display: flex;
    justify-content: space-around;
    padding: 20px;
  }
 
.header {
    text-align: center;
    margin: 20px 0;
  }
  
  .header h1 {
    font-size: 24px;
  }
  
  .header p {
    color: #666;
    margin: 10px 0;
  }
  
  .view-specialities {
    padding: 10px 20px;
    background-color: #008cba;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  /* src/App.css */
.app {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #f9f9f9;
  }
  
  .consultation-cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 40px;
  }
  
  .consultation-cards > * {
    flex: 1;
    margin: 10px;
  }
  
  h2 {
    font-size: 22px;
    margin: 20px 0;
    text-align: center;
  }

  .linkyo{
    background-color: #008cba;
    padding: 10px;
    border-radius: 6px;
    border: none;
    font-size: medium;
    color: white;
  }
  
  
